# Build outputs
**/dist/**
**/build/**
**/out/**
**/coverage/**

# Dependencies
**/node_modules/**

# Cache and temp files
**/.next/**
**/.turbo/**

# Generated
**/next-env.d.ts

# Lockfiles
pnpm-lock.yaml
